.movie-container {
  margin: 20px 0;
}

.movie-container__select {
  background-color: var(--grey-color-0);
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.movie-showcase {
  background-color: var(--black-alpha-color);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--grey-color-1);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.movie-showcase__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.movie-screen {
  background-color: var(--grey-color-0);
  height: 70px;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px var(--grey-color-alpha-0);
}
